* {
  line-height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  overscroll-behavior-y: none;
}

img {
  max-width: 100%;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.button__wrapper {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: calc(infinity);
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
}

.button {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.button img {
  height: 80px;
}